<h3>New Food</h3>
<%= form_for @record do |f| %>
  <%= f.label :cut_off_at, "Cut Off Time", class: "col-sm-2 col-form-label"%>
  <%= f.datetime_field :cut_off_at, class: "form-control w-25" %>
  <%= f.submit "Create!", class: "btn btn-outline-primary" %>
<% end %>